mulesoft/src/main/mule/mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9acaa899-1382-4d27-9790-6178cc4fc7ae">
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="mulesoftFlow" doc:id="79083588-67cc-4e6c-9773-bfdcf1ff52c7" >
		<http:listener doc:name="Listener" doc:id="67817aa5-5d8f-4980-94e5-1549a8008fd3" config-ref="HTTP_Listener_config" path="sf"/>
		<ee:transform doc:name="Transform Message" doc:id="bd1b2e86-7af7-4c4b-91ec-8ab853256a0c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "welcome to mule classes"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="98f9923d-5707-41ed-9d14-f1d5ed43da07" message="#[payload]" />
	</flow>
</mule>
